data/subtask1/dev.labels filter=lfs diff=lfs merge=lfs -text
data/subtask1/dev.txt filter=lfs diff=lfs merge=lfs -text
data/subtask1/train.labels filter=lfs diff=lfs merge=lfs -text
data/subtask1/train.txt filter=lfs diff=lfs merge=lfs -text
data/subtask2/train.txt filter=lfs diff=lfs merge=lfs -text
data/subtask2/train.labels filter=lfs diff=lfs merge=lfs -text
data/subtask2/dev.txt filter=lfs diff=lfs merge=lfs -text
data/subtask2/dev.labels filter=lfs diff=lfs merge=lfs -text
data/subtask3/train.txt filter=lfs diff=lfs merge=lfs -text
data/subtask3/train.labels filter=lfs diff=lfs merge=lfs -text
data/subtask3/dev.txt filter=lfs diff=lfs merge=lfs -text
data/subtask3/dev.labels filter=lfs diff=lfs merge=lfs -text
data/subtask1/dev_ids.txt filter=lfs diff=lfs merge=lfs -text
data/subtask2/dev_ids.txt filter=lfs diff=lfs merge=lfs -text
data/subtask3/dev_ids.txt filter=lfs diff=lfs merge=lfs -text
data/subtask3/train_ids.txt filter=lfs diff=lfs merge=lfs -text
data/subtask2/train_ids.txt filter=lfs diff=lfs merge=lfs -text
data/subtask1/train_ids.txt filter=lfs diff=lfs merge=lfs -text
